<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- IZIN AKSES INTERNET UNTUK MEMUAT GAMBAR DARI URL -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- IZIN UNTUK ALARM EXACT -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" /> <!-- PERTEMUAN 13: IZIN KAMERA -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Farapps"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".pertemuan_13.QrScannerActivity"
            android:exported="false" />
        <activity
            android:name=".pertemuan_13.ThirteenthActivity"
            android:exported="false" />
        <activity
            android:name=".pertemuan_13.QrGeneratorActivity"
            android:exported="false" />
        <activity
            android:name=".pertemuan_13.CameraCaptureActivity"
            android:exported="false" /> <!-- PERTEMUAN 13: FILEPROVIDER UNTUK SIMPAN FOTO KE GALERI -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- RECEIVER UNTUK REMINDER -->
        <receiver
            android:name=".utils.ReminderReceiver"
            android:exported="false" /> <!-- PERTEMUAN 13 - KAMERA, QR CODE & BARCODE SCANNER -->
        <activity
            android:name=".Home.pertemuan_13.ThirteenthActivity"
            android:exported="false" />
        <activity
            android:name=".Home.pertemuan_13.CameraCaptureActivity"
            android:exported="false" />
        <activity
            android:name=".Home.pertemuan_13.QrGeneratorActivity"
            android:exported="false" />
        <activity
            android:name=".Home.pertemuan_13.QrScannerActivity"
            android:exported="false" />
        <activity
            android:name=".TripNotes.TripNotesActivity"
            android:exported="false" />
        <activity
            android:name=".TripNotes.TripNotesFormActivity"
            android:exported="false" />
        <activity
            android:name=".Destinasi.DestinasiFormActivity"
            android:exported="false" />
        <activity
            android:name=".Onboarding.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".Home.pertemuan_10.TenthActivity"
            android:exported="false" /> <!-- PERTEMUAN 9 - MATERIAL DESIGN & LISTVIEW -->
        <activity
            android:name=".Home.pertemuan_9.NinthActivity"
            android:exported="false" />
        <activity
            android:name=".Home.pertemuan_9.DestinasiWisataActivity"
            android:exported="false" /> <!-- ACTIVITIES BAWAAN SISTEM (LOGIN, REGISTER, DLL) -->
        <activity
            android:name=".VerificationActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" /> <!-- SPLASHSCREEN (LAUNCHER / PERTAMA KALI DI BUKA) -->
        <activity
            android:name=".Home.pertemuan_6.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.Farapps">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AuthActivity"
            android:exported="false" />
        <activity
            android:name=".BaseActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" /> <!-- PERTEMUAN SEBELUMNYA (2, 3, 4, 5) -->
        <activity
            android:name=".Home.pertemuan_2.SecondActivity"
            android:exported="false" />
        <activity
            android:name=".Home.pertemuan_3.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".Home.pertemuan_4.MeditationActivity"
            android:exported="false" />
        <activity
            android:name=".Home.pertemuan_4.FocusHealthActivity"
            android:exported="false" />
        <activity
            android:name=".Home.pertemuan_5.WebViewActivity"
            android:exported="false" />
    </application>

</manifest>